.product{
    display: flex;
}


.product_div img{
    width: 70%;
    height: 300px;
}

.product_div{
    border: 1px solid grey;
    width: 50%;
    
}
.product_details{
    border: 1px solid gray;
}